/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */

img, a img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

/* =============================================================================
   Tables
   ========================================================================== */

table { margin:0 auto 1.4em; width:99%; border-collapse: collapse; border-spacing: 0;	border:1px solid #fff; outline:1px solid #dddddd; }
thead{ background:#eee; }
th, td, caption { padding: 4px 10px 4px 5px;  vertical-align: top; }
th { border-bottom:1px solid #fff; font-weight:normal; font-size:14px; color:#000; text-align:left; }
td { border-bottom:1px solid #fff; background:#f9f9f9; color:#000; }

tbody tr:nth-child(even) td, tbody tr.even td { background: #eee; }
tbody tr:hover td { background:#fff ;color:#000; }
tfoot { font-style: italic; text-align:right; }

/* =============================================================================
   Icons for links based on protocol or file type.
   ========================================================================== */

/* Use this class if a link gets an icon when it shouldn't. */
body a.noicon { background:transparent none !important; padding:0 !important; margin:0 !important; }

/* Make sure the icons are not cut */
/*a[href^="http:"], a[href^="https:"],*/
/*a[href^="http:"]:visited, a[href^="https:"]:visited,*/
/*a[href^="mailto:"],*/ a[href$=".pdf"], a[href$=".doc"], a[href$=".xls"], a[href$=".zip"], a[href$=".rar"],
a[href$=".rss"], a[href$=".rdf"], a[href^="aim:"] {
  padding:2px 22px 2px 0;
  margin:-2px 0;
  background-repeat: no-repeat;
  background-position: right center;
}

/* External links */
/*a[href^="http:"]          { background-image: url(../failid/Project/icons/external.png); }*/
/*a[href^="https:"]         { background-image: url(../failid/Project/icons/lock.png); }*/
/*a[href^="http:"]:visited  { background-image: url(../icons/visited.png); }*/

/* Files */
/*a[href^="mailto:"]{ background-image: url(../failid/Project/icons/email.png); }*/
a[href$=".pdf"]   { background-image: url(../failid/Project/icons/pdf.png); }
a[href$=".doc"]   { background-image: url(../images/doc.png); }
a[href$=".xls"]   { background-image: url(../images/xls.png); }
a[href$=".zip"]   { background-image: url(../images/zip.png); }
a[href$=".rar"]   { background-image: url(../images/rar.png); }

/* Misc */
a[href$=".rss"],
a[href$=".rdf"]   { background-image: url(../images/feed.png); }
a[href^="aim:"]   { background-image: url(../images/im.png); }

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* =============================================================================
   Helper classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.fl { float:left !important; }
.fr { float:right !important; }
.cl { clear:left !important; }
.cr { clear:right !important; }
.clear { clear:both !important; }
.al { text-align:left !important; }
.ar { text-align:right !important; }
.ac { text-align:center !important; }
.alpha { margin-left:0 !important; }
.omega { margin-right:0 !important; }
.top { margin-top:0 !important; }
.bottom { margin-bottom:0 !important; }
.w10 { width:10% !important; }
.w20 { width:20% !important; }
.w25 { width:25% !important; }
.w30 { width:30% !important; }
.w40 { width:40% !important; }
.w45 { width:45% !important; }
.w49 { width:49% !important; }
.w50 { width:50% !important; }
.w60 { width:60% !important; }
.w70 { width:70% !important; }
.w74 { width:74% !important; }
.w75 { width:75% !important; }
.w80 { width:80% !important; }
.w90 { width:90% !important; }
.w100 { width:100% !important; }
.debug { border:1px dashed red !important; }
#logo { margin:0; padding:0; }
#logo a{ margin:0; padding:0; border:none; text-decoration:none; display:block; width:100%; height:100%; }
#logo a:hover{ border:none; }

.lt, .rt, .lb, .rb{ position:absolute; width:4px; height:4px; background:url(../images/corners.png) no-repeat; overflow:hidden; display:block; }
.lt{ left:0; top:0; background-position:0px 0px; }
.rt{ right:0; top:0; background-position:-4px 0px; }
.lb{ left:0; bottom:0; background-position:0px -4px; }
.rb{ right:0; bottom:0;	background-position:-4px -4px; }

/* =============================================================================
   notifications
   ========================================================================== */
p.error, p.alert, p.notice, p.success, p.info { padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
p.error, p.alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
p.notice { background: #fff6bf; color: #514721; border-color: #ffd324; }
p.success { background: #e6efc2; color: #264409;	border-color: #c6d880; }
p.info { background: #d5edf8; color: #205791; border-color: #92cae4; }

/* =============================================================================
   Pager
   ========================================================================== */
#pager{ overflow:hidden; margin:20px 0; }
#pager ul { float:right; overflow:hidden; }
#pager li { float:left; margin:0 1px 0 0; }
#pager li a { display:block; padding: 4px 10px; background:#eee; color:#000; text-decoration:none; font-size:12px; line-height:16px; overflow:hidden; }
#pager li a:hover, #pager li.active a { text-decoration:none; background:#ddd; }

/* =============================================================================
   buttons
   ========================================================================== */
.button,
.button:visited {
	border: none;
	display:inline-block;
	font-weight:normal;
	padding:4px 18px;
	text-decoration:none;
	color:#000;
	outline:none;
	cursor:pointer;

	background-color:#ededed;
}
.button:hover{
	text-decoration:none;
	background-color:#dfdfdf;
}
.button:active{	
	position:relative;
	top:1px;
}
/*green*/
.green.button{
	background-color:#9dce2c;
	color:#fff;
}
.green.button:hover {
	background-color:#8cb82b;
}
/*red*/
.red.button {
	background-color:#fe1a00;
	color:#fff;
}
.red.button:hover {
	background-color:#ce0100;
}
/*orange*/
.orange.button {
	background-color:#fb9e25;
}
.orange.button:hover {
	background-color:#ffc477;
}
/*yellow*/
.yellow.button {
	background-color:#ffec64;
	color:#333;
}
.yellow.button:hover {
	background-color:#ffab23;
}
/*black*/
.black.button {
	background-color:#858585;
}
.black.button:hover {
	background-color:#4f4d4f;
}
/*a tags*/
a.green.button, a.button.red, a.orange.button, a.black.button{ color:#fff !important; }
a.yellow.button{ color:#333 !important; }