/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576.98px) {
  .section-hero__title {
    font-size: 18px;
    line-height: px;
  }

  .section-hero__title-mid {
    width: 220px;
  }

}

/* Small devices (landscape phones, 576px - 767.98px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .section-hero__title {
    font-size: 18px;
    line-height: 20px;
  }

  .section-hero__title-top {
    background-position-y: 14px;
  }

}

/* Medium devices (tablets, 768px - 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .section-hero__title-top {
    background-position-y: 10px;
  }

  .section-hero__title {
    font-size: 21px;
    line-height: 25px;
  }
}

/* Large devices (desktops, 992px - 1199.98px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .section-hero__title-top {
    background-position-y: 3px;
  }

  .section-hero__title {
    font-size: 25px;
    line-height: 33px;
  }

}


@media (min-width: 1200px) and (max-width: 1399.98px) {
  .section-hero__title-top {}

  .section-hero__title {
    font-size: 25px;
    line-height: 33px;
  }
}

/* Extra large devices (large desktops*/
@media(min-width: 1400px) {
  .card{
    padding: 0 40px;
  }

  .section-hero__title-top{
    background-position-y: -8px;
  }
}